body {
  margin: 0;
  min-height: 100vh;
  font-size: larger;
  font-family: Verdana;
  color: #ffffff;
  background-color: #7CA5B8;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
      grid-template-areas: "header" "main" "footer";
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  background-color: #38369A;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "h n";
}

header h1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: h;
  margin: 1%;
  font-family: Verdana;
  color: #ffffff;
}

header a {
  text-decoration: none;
}

header nav {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: n;
}

header nav ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

header nav li {
  list-style-type: none;
  background-color: #C6EBBE;
}

header nav a {
  font-family: Verdana;
  color: #000000;
}

main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
}

main section {
  background-color: #000000;
  margin: 2%;
}

main section h2 {
  font-size: 110%;
  text-align: center;
}

main section p {
  font-size: 80%;
  margin: 3%;
}

main section img {
  margin: 1%;
  width: 50%;
}

footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  background-color: #38369A;
  font-size: 100%;
  text-align: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

footer p {
  margin: 1%;
}

footer a {
  color: #ffffff;
}

#recipe main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
}

#recipe main section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-grid-rows: auto auto auto auto;
      grid-template-rows: auto auto auto auto;
      grid-template-areas: "h2 h2" "image list" "h3 list" "text text";
}

#recipe main section h2 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: h2;
}

#recipe main section p {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: text;
}

#recipe main section img {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: image;
  width: 80%;
}

#recipe main section h3 {
  font-size: 105%;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: h3;
}

#recipe main section ul {
  margin: 1%;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: list;
}

#recipe main section li {
  list-style-type: none;
}

#upload main {
  height: 95%;
}

#upload main form {
  background-color: #000000;
  margin: 2%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

#upload main form input {
  margin: 0.5rem;
}

#upload main form label {
  margin: 0.5rem;
}

#upload main form button {
  font-size: 90%;
  font-family: verdana;
}

#about main section h2 {
  font-size: 120%;
}

#about main section p {
  font-size: 90%;
}

#about main section img {
  margin: 2rem;
  width: 80%;
}

#sign_up main {
  height: 95%;
}

#sign_up main form {
  background-color: #000000;
  margin: 3%;
  height: 90%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

#sign_up main form input {
  margin: 0.5rem;
}

#sign_up main form label {
  margin: 0.5rem;
}

#sign_up main form button {
  margin: 1rem;
  margin-top: 0.5rem;
  font-size: 100%;
  font-family: verdana;
  width: 200%;
  height: 50%;
}

#login main form {
  background-color: #000000;
  margin: 4%;
  height: 90%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

#login main form input {
  margin: 0.5rem;
}

#login main form label {
  margin: 0.5rem;
}

#login main form button {
  margin: 1rem;
  margin-top: 0.5rem;
  font-size: 100%;
  font-family: verdana;
  width: 225%;
  height: 50%;
}
/*# sourceMappingURL=sakura.css.map */