body{
    margin: 0;
    min-height: 100vh;
    font-size: larger;
    font-family: Verdana;
    color: #ffffff;
    background-color: #7CA5B8;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header" "main" "footer";
}
header{
    grid-area: header;
    background-color: #38369A;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "h n";
    h1{
        grid-area: h;
        margin: 1%;
        font-family: Verdana;
        color: #ffffff; 
    }
    a{
        text-decoration: none;
    }
    nav{
        grid-area: n;
        ul{
            display: grid;
            grid-template-rows: auto;
        }
        li{
            list-style-type: none;
            background-color:  #C6EBBE;
        }
        a{
            font-family: Verdana;
            color: #000000;
        }
    }
    
}

main{
    grid-area: main;
    section{
        background-color: #000000;
        margin: 2%;
        h2{
            font-size: 110%;
            text-align: center;
        }
        p{
            font-size: 80%;
            margin: 3%;
        }
        img{
            margin: 1%;
            width: 50%;
        }
    }
}

footer{
    grid-area: footer;
    background-color: #38369A;
    font-size: 100%;
    text-align: center;
    align-self: flex-end;
    p{
        margin: 1%;
    }
    a{
        color: #ffffff;
    }
}

#recipe{
    main{
        grid-area: main;
        section{
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto auto auto auto;
            grid-template-areas: "h2 h2" "image list" "h3 list" "text text";
            h2{
                grid-area: h2; 
            }
            p{
                grid-area: text;
            }
            img{
                grid-area: image;
                width: 80%;
            }
            h3{
                font-size: 105%;
                grid-area: h3;
            }
            ul{
                margin: 1%;
                grid-area: list;
            }
            li{
                list-style-type: none;
            }
        }
    }
}
#upload{
    main{
        height: 95%;
        form{
            background-color: #000000;
            margin: 2%;
            height: 100%;
            display: grid;
            grid-template-columns: auto auto;
            input{
                margin: 0.5rem;
            }
            label{
                margin: 0.5rem;
            }
            button{
                font-size: 90%;
                font-family: verdana;
            }
        }
    }
    
}
#about{
    main{
        section{
            h2{
                font-size: 120%;
            }
            p{
                font-size: 90%;
            }
            img{
                margin: 2rem;
                width: 80%;
            }
        }
    }
}
#sign_up{
    main{
        height: 95%;
        form{
            background-color: #000000;
            margin: 3%;
            height: 90%;
            display: grid;
            grid-template-columns: auto auto;
            input{
                margin: 0.5rem;
            }
            label{
                margin: 0.5rem;
            }
            button{
                margin: 1rem;
                margin-top: 0.5rem;
                font-size: 100%;
                font-family: verdana;
                width: 200%;
                height: 50%;
            }
        }
    }
    
}
#login{
    main{
        form{
            background-color: #000000;
            margin: 4%;
            height: 90%;
            display: grid;
            grid-template-columns: auto auto;
            input{
                margin: 0.5rem;
            }
            label{
                margin: 0.5rem;
            }
            button{
                margin: 1rem;
                margin-top: 0.5rem;
                font-size: 100%;
                font-family: verdana;
                width: 225%;
                height: 50%;
            }
        }
    }
    
}
